body{
    padding: 0px;
    margin: 0px;
    min-width: 900px;
}

a{
    text-decoration: none;
}
#header{
    background: #1e5799;
    background: -moz-linear-gradient(45deg,  #1e5799 7%, #7db9e8 74%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(7%,#1e5799), color-stop(74%,#7db9e8));
    background: -webkit-linear-gradient(45deg,  #1e5799 7%,#7db9e8 74%);
    background: -o-linear-gradient(45deg,  #1e5799 7%,#7db9e8 74%);
    background: -ms-linear-gradient(45deg,  #1e5799 7%,#7db9e8 74%);
    background: linear-gradient(45deg,  #1e5799 7%,#7db9e8 74%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
    color: white;
    height: 100px;
}

#header p{
    padding-top: 20px;
    margin: 0px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

#menu {
    width: 150px;
    height: 600px;
    min-width: 100px;
    float: left;
}

#menu-text {
    text-align: center;
    height: 40px;
    font-size: 20px;
    background-color: #1e5799;
    color: white;
    margin-bottom: 5px;
}

#menu-ul{
    list-style-type: none;
    padding: 0px;
    border: 1px solid green;
}

.menu-li{
    /*border: 1px solid black;*/
    height: 40px;
    text-align: center;
    padding-bottom: 5px;
}

.menu-li div {
    width: auto;
    height: 100%;
    color: white;
    background-color: #1e5799;
    margin: 0px 5px 0px 5px;
}
.menu-li div:hover{
    opacity: 0.8;
    /*text-shadow: 0px 0px 7px black;*/
}

#content{
    margin: auto;
    text-align: center;
    position: relative;
    width: 800px;
}

#mainTables{
    position: relative;
}

#mainTables div{
    padding: 30px;
    display: inline-table;
}

#table{
    list-style-type: none; 
    width: 50%;
    margin: auto;
    width: 600px;
}
#table tr{
    width: 100%;
}
#table tr:nth-child(even){
    background-color: #1e5799;
    color: white;
}
#table tr td{
    width: 33%;
    text-align: center;
}
.connectedSortable { 
    list-style-type: none;
    border: 1px solid black;
    width: 150px;
    margin: 0; 
    padding: 0 0 2.5em;
    margin-right: 10px; 
}
.connectedSortable li { 
    background-color: #1e5799;
    color: white;
    margin: 5px 5px 5px 5px; 
    padding: 5px; 
    font-size: 1.2em; 
    width: 130px; 
    cursor: pointer;
}